<%- include("../layouts/header") %>
<div>
  <div class="" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete a permission</h5>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete this permission?</p>
          <p><%= permission?.title %></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            onclick="history.back()"
          >
            Close
          </button>
          <form
            action="/admin/permission/<%= permission?.id %>/destroy"
            method="post"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer") %>
