<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals?.title || "Recipes" %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a href="/" class="navbar-brand">Home</a>
          <div class="collapse justify-content-between navbar-collapse">
            
            <ul class="navbar-nav">
              <% if(locals.user){ %>
                <li class="nav-item">
                  <a href="/recipe/create" class="nav-link">Create a recipe</a>
                </li>
                <% } %>
            </ul>
            
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  ><%= locals.user ? user.first_name + " " + user.last_name :
                  "Login" %></a
                >
                <ul class="dropdown-menu dropdown-menu-end">
                  <% if(locals.user){ %>
                  <li class="dropdown-item">
                    <a href="/user" class="btn btn-link">Profile</a>
                  </li>
                  <li class="dropdown-item">
                    <form action="/user/logout" method="post">
                      <button type="submit" class="btn btn-link">Logout</button>
                    </form>
                  </li>
                  <% }else{ %>
                  <li class="dropdown-item">
                    <a href="/user/login" class="btn btn-link">Login</a>
                  </li>
                  <li class="dropdown-item">
                    <a href="/user/register" class="btn btn-link">Register</a>
                  </li>
                  <% } %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="mt-3">
